package de.provinzial.leistung.webservice.helper;

import java.math.BigDecimal;
import java.util.Date;

import {{test_class_inc_dir}}.{{test_class}};
import {{result_class_inc_dir}}.{{result_class}};
import provinzial.fw.util.server.PvTBetrag;
import provinzial.fw.util.server.PvTProzentsatz;

public class {{helper_class_name}}
		extends {{helper_super_class_name}} {

	@Override
	public void init() {
		this.testObject = new {{test_class}}();
		{% if call_super_init %}super.init();{% endif %}

	{% for attr in attributes %}
	this.addAttr(new Attr<>("{{attr[0]}}", {{get_attr_value(get_attr_type(attr[1]))}}));
	{% endfor %}
}
}
