package de.provinzial.leistung.webservice.helper;

import {{test_class_inc_dir}}.{{test_class}};
import {{result_class_inc_dir}}.{{result_class}};

public class {{helper_class_name}}
		extends Helper<{{test_class}}, {{result_class}}> {

	@Override
	public void init() {
		this.testObject = new {{test_class}}();
		this.resultObject = new {{result_class}}();

	{% for attr in attributes %}
	this.addAttr(new Attr2<>("{{attr[1]}}", {{get_attr_value(get_attr_type(attr[0]))}}));
	{% endfor %}
}
}
